In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [3]:
df = pd.read_csv('D:\Downloads\Modular\ML_Live_Class\data\Advertising.csv')
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [ ]:
from joblib import dump,load #saving your file as binary file

In [ ]:
 import os
 model_dir = "models"
os.mkdir(model_dir, exist_ok = True)
filepath = os.path.join(model_dir, 'model.joblib')
dump(model, filepath)

In [ ]:
load_model = load(r'give full path of created model')

In [ ]:
load_model.coef_

In [ ]:
example = [[151,25,15]]

In [ ]:
load_model.predict(example)

In [2]:
# Polynomial Regression

In [7]:
x1 = df.drop(['sales'] ,axis=1)
x1.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [9]:
x1.shape

(200, 3)

In [8]:
from sklearn.preprocessing import PolynomialFeatures

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
poly_conv = PolynomialFeatures(degree=2, include_bias=False)

In [ ]:
poly_conv.fit(x1)

In [ ]:
poly_features = poly_conv.transform(x1)

In [ ]:
poly_features.shape

In [ ]:
x1.iloc[0]

In [ ]:
poly_features[0]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(poly_features,y,test_size=0.33, random_state=101)

In [ ]:
model1 = LinearRegression()

In [ ]:
model1.fit(X_train, y_train)

In [ ]:
test_pred = model1.predict
test_pred

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [ ]:
MAE = mean_absolute_error(y_test, test_pred)
MAE

In [ ]:
MSE = mean_squared_error(y_test, test_pred)
MSE

In [ ]:
RMSE = np.sqrt(MSE)
RMSE

In [ ]:
model1.coef_

In [ ]:
train_rmse_errors =[]
test_rmse_errors =[]

for d in range(1,10):
    poly_converter = PolynomialFeatures(degree=d,include_bias=False)
    poly_features = poly_converter.fit_transform(x1)
    X_train, X_test,

    model = LinearRegression()
    model.fit(X_train, y_train)

    train_pred = model.predict